body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(206, 225, 241);
}
h1{
    color: rgb(139, 80, 207);
}
form{
    background-color: #f0f2f3;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 10px 15px hsla(0, 0%, 0%, 0.3); 
}
#textbox{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid hsla(0, 0%, 0%, 0.8);
    border-radius: 4px;
    margin-bottom: 15px;
}
label{
    font-size: 1,5em;
    font-weight: bold;
}
button{
    margin-top: 15px;
    background-color: rgb(130, 3, 204);
    color: aliceblue;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(123, 168, 93);
}
#result{
    font-size: 1.75em;
    font-weight: bold;
}